{{ define "subscriber-optin" }}
{{ template "header" . }}
<h2>Anmeldung Bestätigen</h2>
<p>Hallo {{ .Subscriber.FirstName }},</p>
<p>Sie haben sich für folgende Newsletter angemeldet:</p>
<ul>
    {{ range $i, $l := .Lists }}
        {{ if eq .Type "public" }}
            <li>{{ .Name }}</li>
        {{ else }}
            <li>Private list</li>
        {{ end }}
    {{ end }}
</ul>
<p>Bitte bestätigen Sie die Anmeldung mit einem Klick auf folgenden Button:</p>
<p>
    <a href="{{ .OptinURL }}" class="button">Anmeldung Bestätigen</a>
</p>

{{ template "footer" }}
{{ end }}
